In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/LeWagon/7. Project/Colab Notebooks/global_ai_ml_data_salaries.csv')
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,MI,FT,Business Intelligence,84021,USD,84021,CA,0,CA,M
1,2024,MI,FT,Business Intelligence,69000,USD,69000,CA,0,CA,M
2,2024,SE,FT,BI Developer,241600,USD,241600,US,0,US,M
3,2024,SE,FT,BI Developer,109800,USD,109800,US,0,US,M
4,2024,SE,FT,Machine Learning Modeler,245400,USD,245400,US,100,US,M
...,...,...,...,...,...,...,...,...,...,...,...
19770,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
19771,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
19772,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
19773,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
19774,2021,SE,FT,Data Scientist,7000000,INR,94665,IN,50,IN,L

In [ ]:
#see column names
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
#see the head of the table
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,MI,FT,Business Intelligence,84021,USD,84021,CA,0,CA,M
1,2024,MI,FT,Business Intelligence,69000,USD,69000,CA,0,CA,M
2,2024,SE,FT,BI Developer,241600,USD,241600,US,0,US,M
3,2024,SE,FT,BI Developer,109800,USD,109800,US,0,US,M
4,2024,SE,FT,Machine Learning Modeler,245400,USD,245400,US,100,US,M

In [ ]:
#searching for data types
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [ ]:
#searching for null values
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [ ]:
#check for dulpicates
df.duplicated().sum()

8261

In [ ]:
#clean dulpicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [ ]:
#search for unique values
df.nunique()

work_year                5
experience_level         4
employment_type          4
job_title              148
salary                2925
salary_currency         24
salary_in_usd         3319
employee_residence      88
remote_ratio             3
company_location        78
company_size             3
dtype: int64

In [ ]:
#clean salary currency that's not USD
df.drop(columns=["salary","salary_currency"], inplace=True)

In [ ]:
#in the column remote_ratio, change the values 0, 50 and 100 to Onsite, Hybrid and Remote
df['remote_ratio'].replace({0: 'Onsite', 50: 'Hybrid', 100: 'Remote'}, inplace = True)

#in the column company_size, change the values S, M, L to Small, Medium and Large
df['company_size'].replace({'S': 'Small', 'M': 'Medium', 'L': 'Large'}, inplace = True)

#in the column experience_level, change the values EN, MI, SE and EX to Junior, Intermediate, Senior, and Executive
df['experience_level'].replace({'EN': 'Junior', 'MI': 'Intermediate', 'SE': 'Senior', 'EX': 'Executive'}, inplace = True)

#in the column employment_type, change the values PT, FT, CT, FL to Part-time, Full-time, Contract, and Freelance
df['employment_type'].replace({'PT': 'Part-time', 'FT': 'Full-time', 'CT': 'Contract', 'FL': 'Freelance'}, inplace = True)
df

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,Intermediate,Full-time,Business Intelligence,84021,CA,Onsite,CA,Medium
1,2024,Intermediate,Full-time,Business Intelligence,69000,CA,Onsite,CA,Medium
2,2024,Senior,Full-time,BI Developer,241600,US,Onsite,US,Medium
3,2024,Senior,Full-time,BI Developer,109800,US,Onsite,US,Medium
4,2024,Senior,Full-time,Machine Learning Modeler,245400,US,Remote,US,Medium
...,...,...,...,...,...,...,...,...,...
19770,2020,Senior,Full-time,Data Scientist,412000,US,Remote,US,Large
19771,2021,Intermediate,Full-time,Principal Data Scientist,151000,US,Remote,US,Large
19772,2020,Junior,Full-time,Data Scientist,105000,US,Remote,US,Small
19773,2020,Junior,Contract,Business Data Analyst,100000,US,Remote,US,Large
19774,2021,Senior,Full-time,Data Scientist,94665,IN,Hybrid,IN,Large

In [ ]:
#count the times a job title appears in the job_title column
df['job_title'].value_counts()

job_title
Data Scientist                      2451
Data Engineer                       2069
Data Analyst                        1572
Machine Learning Engineer           1185
Research Scientist                   454
                                    ...
Analytics Engineering Manager          1
AI Software Development Engineer       1
Lead AI Engineer                       1
Big Data Developer                     1
Quantitative Research Analyst          1
Name: count, Length: 148, dtype: int64

In [ ]:
#search for 'Business Inteligence' job title
contains_word = df['job_title'].str.contains('Business Inteligence', case=False)

#filter the column to show only that job title
f_df = df[contains_word]
f_df

Empty DataFrame
Columns: [work_year, experience_level, employment_type, job_title, salary_in_usd, employee_residence, remote_ratio, company_location, company_size]
Index: []

In [ ]:
#replace the job title 'Business Intelligence' with a new job title 'BI'
#we specify to reach all values regarding being a lowercase or uppercase throught the case=False command
df['job_title'] = df['job_title'].str.replace('Business Intelligence', 'BI', case=False)
df

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,Intermediate,Full-time,BI,84021,CA,Onsite,CA,Medium
1,2024,Intermediate,Full-time,BI,69000,CA,Onsite,CA,Medium
2,2024,Senior,Full-time,BI Developer,241600,US,Onsite,US,Medium
3,2024,Senior,Full-time,BI Developer,109800,US,Onsite,US,Medium
4,2024,Senior,Full-time,Machine Learning Modeler,245400,US,Remote,US,Medium
...,...,...,...,...,...,...,...,...,...
19770,2020,Senior,Full-time,Data Scientist,412000,US,Remote,US,Large
19771,2021,Intermediate,Full-time,Principal Data Scientist,151000,US,Remote,US,Large
19772,2020,Junior,Full-time,Data Scientist,105000,US,Remote,US,Small
19773,2020,Junior,Contract,Business Data Analyst,100000,US,Remote,US,Large
19774,2021,Senior,Full-time,Data Scientist,94665,IN,Hybrid,IN,Large

In [ ]:
#search for 'Data Scientist' job title
contains_word = df['job_title'].str.contains('Data Scientist', case=False)

#filter the column to show only that job title
filtered_df = df[contains_word]
filtered_df

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
28,2024,Senior,Full-time,Data Scientist,213500,US,Onsite,US,Medium
29,2024,Senior,Full-time,Data Scientist,174000,US,Onsite,US,Medium
30,2024,Senior,Full-time,Data Scientist,190000,US,Onsite,US,Medium
31,2024,Senior,Full-time,Data Scientist,167000,US,Onsite,US,Medium
32,2024,Senior,Full-time,Data Scientist,180000,US,Remote,US,Medium
...,...,...,...,...,...,...,...,...,...
19766,2021,Intermediate,Full-time,Data Scientist,119059,SG,Remote,IL,Medium
19770,2020,Senior,Full-time,Data Scientist,412000,US,Remote,US,Large
19771,2021,Intermediate,Full-time,Principal Data Scientist,151000,US,Remote,US,Large
19772,2020,Junior,Full-time,Data Scientist,105000,US,Remote,US,Small
19774,2021,Senior,Full-time,Data Scientist,94665,IN,Hybrid,IN,Large

In [ ]:
#replace any job title tha contains 'Data Scientist' in it, with simply 'Data Scientist'
#the regex indicates we are using a regular expression, allowing complex pattern matching
df['job_title'] = df['job_title'].str.replace(r'.*\bData Scientist\b.*', 'Data Scientist', case=False, regex=True)

In [ ]:
#cleaning the job_title's column, merging the job titles that belong to the same role
df['job_title'] = df['job_title'].str.replace(r'.*\bData Analyst\b.*', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bData Engineer\b.*', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bMachine Learning Engineer\b.*', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bMachine Learning Scientist\b.*', 'Machine Learning Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bMachine Learning Specialist\b.*', 'Machine Learning Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Infrastructure Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Software Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Research Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Quality Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bCloud Data\b.*', 'Cloud Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Cloud Database Engineer', 'Cloud Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bData Architect\b.*', 'Data Architect', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Analytics Associate', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Science Tech Lead', 'Data Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bAnalyst\b.*', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Developer', 'AI Developer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Developer', 'AI Develop', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bDeveloper\b.*', 'Data Developer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Develop', 'AI Developer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bAnalytics Engineer\b.*', 'Analytics Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Analytics Engineering Manager', 'Analytics Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('ETL Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('DataOps Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data DevOps Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('NLP Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('MLOps Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Research Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Software Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Lead AI Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Software Development Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Robotics Software Engineer', 'Software Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Computer Vision Software Engineer', 'Software Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Research Scientist', 'AI Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('BI Specialist', 'BI', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Visualization Specialist', 'Data Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Management Specialist', 'Data Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Integration Specialist', 'Data Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Operations Specialist', 'Data Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Analytics Consultant', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace(r'.*\bData Analytics\b.*', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Modeler', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('BI Lead', 'BI', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('BI Manager', 'BI', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Infrastructure Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Integration Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Director of BI', 'BI', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Visualization Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Quality Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Operations Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Pipeline Engineer', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Prompt Engineer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Lead', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Decision Scientist', 'Data Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Deep Learning Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Product Manager', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Management Manager', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Operations Manager', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Quality Manager', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Strategy Manager', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Manager Data Management', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Management Consultant', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Encounter Data Management Professional', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Programmer', 'AI Developer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Strategist', 'Data Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Operations Associate', 'Data Analyst', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Head of Machine Learning', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Data Product Owner', 'Data Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Principal Statistical Programmer', 'Statistical Programmer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('BI Engineer', 'B Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('BI', 'BI Specialist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('B Engineer', 'BI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Modeler', 'Machine Learning Scientist', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Developer', 'AI Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('AI Product Manager', 'AI Manager', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Computer Vision Engineer', 'Machine Learning Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Machine Learning Researcher', 'Data Scientist', case=False, regex=True)



#erase rows we think are not relevant, once have values between 1 and 2
df = df[~df['job_title'].str.contains('Computational Biologist', case=False, na=False)]
df = df[~df['job_title'].str.contains('Bear Robotics', case=False, na=False)]
df = df[~df['job_title'].str.contains('Autonomous Vehicle Technician', case=False, na=False)]
df = df[~df['job_title'].str.contains('Applied Research Scientist', case=False, na=False)]
df = df[~df['job_title'].str.contains('Deep Learning Researcher', case=False, na=False)]

In [ ]:
df['job_title'] = df['job_title'].str.replace('Computational BI Specialistologist', 'Data Engineer', case=False, regex=True)
df['job_title'] = df['job_title'].str.replace('Cloud Data Engineer', 'Data Engineer', case=False, regex=True)

In [ ]:
#displaying all the job titles to be able to evaluate them and do an accurate merge
value_counts = df['job_title'].value_counts().reset_index()
print(value_counts)

                      job_title  count
0                Data Scientist   2543
1                  Data Analyst   2306
2                 Data Engineer   2210
3     Machine Learning Engineer   1352
4            Research Scientist    454
5            Analytics Engineer    398
6                Data Architect    326
7             Research Engineer    278
8                  Data Manager    254
9                   AI Engineer    240
10               Data Developer    193
11            Applied Scientist    186
12                BI Specialist    173
13              Data Specialist    161
14   Machine Learning Scientist    140
15                  BI Engineer    123
16                 Head of Data     54
17                 AI Scientist     34
18                 AI Architect     33
19            Robotics Engineer     18
20            Software Engineer     15
21     Machine Learning Manager      6
22                   AI Manager      5
23       Statistical Programmer      2
24       Master Data Specialist      2
25  Machine Learning Specialist      2

In [ ]:
#counting unique values of the column job_title
#before we had 148 unique values and now we only have 26
df['job_title'].nunique()

26

In [ ]:
df.rename(columns={'work_year': 'Year', 'experience_level': 'Experience Level',
                   'employment_type': 'Employment Type', 'job_title': 'Job Title',
                   'salary_in_usd': 'Salary', 'employee_residence':'Employee Location',
                   'remote_ratio':'Work Model', 'company_location': 'Company Location',
                   'company_size':'Company Size'}, inplace = True)

df

,Year,Experience Level,Employment Type,Job Title,Salary,Employee Location,Work Model,Company Location,Company Size
0,2024,Intermediate,Full-time,BI Specialist,84021,CA,Onsite,CA,Medium
1,2024,Intermediate,Full-time,BI Specialist,69000,CA,Onsite,CA,Medium
2,2024,Senior,Full-time,Data Developer,241600,US,Onsite,US,Medium
3,2024,Senior,Full-time,Data Developer,109800,US,Onsite,US,Medium
4,2024,Senior,Full-time,Machine Learning Scientist,245400,US,Remote,US,Medium
...,...,...,...,...,...,...,...,...,...
19770,2020,Senior,Full-time,Data Scientist,412000,US,Remote,US,Large
19771,2021,Intermediate,Full-time,Data Scientist,151000,US,Remote,US,Large
19772,2020,Junior,Full-time,Data Scientist,105000,US,Remote,US,Small
19773,2020,Junior,Contract,Data Analyst,100000,US,Remote,US,Large
19774,2021,Senior,Full-time,Data Scientist,94665,IN,Hybrid,IN,Large

In [ ]:
#checking were is the outlier AI Architect
filtered_df = df[df['Job Title'].str.contains('AI Architect', case=False)]
filtered_df['Salary']

In [ ]:
#confirming the index 3963 is where this AI Architect is
df.iloc[3963]

Year                         2024
Experience Level     Intermediate
Employment Type         Full-time
Job Title            AI Architect
Salary                     800000
Employee Location              CA
Work Model                 Remote
Company Location               CA
Company Size               Medium
Name: 6045, dtype: object

In [ ]:
#clean the AI Architect that is in the row 3963, once it is an outlier
#we consider him an outlier because his salary was 800000, being the average salary around 200000
df.drop(df.index[3963], inplace=True)

In [ ]:
#creating a .csv file with all the cleaning we did
df.to_csv('le_bruit_clean_data.csv', index=False)

In [ ]:
#downloading the .csv file
from google.colab import files
files.download('le_bruit_clean_data.csv')